
<% name = current_user.present? ? current_user.username : "Stranger" %>

<h2>Welcome, <%= name %></h2>


<% if logged_in? %>
  <% @posts.each do |post| %>
  <div>
      <%= link_to post.caption, post %>
        <% if post.image.attached? %>
         <image src="<%=(url_for(post.image))%>"> 
        <% end %>
    </div><br>
      <% end %>
     
    </div>>
  
<br>

<%= link_to new_post_path do %>
  New post
<% end %>
<% end %>